* {
  margin: 0;
  padding: 0;
}

@media (min-width: 280px) {
  .w-bishop {
    background: url("/svg/w-bishop.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-bishop {
    background: url("/svg/b-bishop.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-king {
    background: url("/svg/w-king.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-king {
    background: url("/svg/b-king.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-queen {
    background: url("/svg/w-queen.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-queen {
    background: url("/svg/b-queen.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-knight {
    background: url("/svg/w-knight.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-knight {
    background: url("/svg/b-knight.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-pawn {
    background: url("/svg/w-pawn.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-pawn {
    background: url("/svg/b-pawn.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-rook {
    background: url("/svg/w-rook.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-rook {
    background: url("/svg/b-rook.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  body {
    color: white;
    -webkit-text-stroke: 0.1px black;
    font-weight: bold;
    text-transform: uppercase;
  }

  .board {
    height: 225px;
    width: 225px;
    border: solid black;
  }

  .area {
    width: 200px;
    height: 200px;
    float: left;
    border: solid black;
  }

  .top {
    height: 11.5px;
    top: 0;
  }

  .bottom {
    width: 215px;
    height: 11px;
    bottom: 0;
    clear: both;
  }

  .top,
.bottom {
    margin-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }
  .top > div,
.bottom > div {
    width: 25px;
    height: 11.5px;
    font-size: 0.5rem;
    text-align: center;
    float: left;
  }

  .top > div,
.right > div {
    transform: rotate(180deg);
  }

  .left {
    left: 0px;
    padding-top: 10px;
  }

  .right {
    right: 0px;
    margin-top: -6.5px;
  }

  .left,
.right {
    padding-bottom: 2.5px;
    font-size: 0.5rem;
    height: 190px;
    width: 9px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }
  .left > div,
.right > div {
    height: 25px;
    text-align: center;
  }

  .row {
    height: 25px;
    width: 200px;
  }
  .row > div {
    width: 25px;
    height: 25px;
    float: left;
  }

  .row:nth-child(odd) > div:nth-child(odd),
.row:nth-child(even) > div:nth-child(even) {
    background-color: white;
  }

  .row:nth-child(odd) > div:nth-child(even),
.row:nth-child(even) > div:nth-child(odd) {
    background-color: black;
  }

  .board {
    background-color: black;
  }
}
@media (min-width: 578px) {
  .w-bishop {
    background: url("/svg/w-bishop.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-bishop {
    background: url("/svg/b-bishop.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-king {
    background: url("/svg/w-king.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-king {
    background: url("/svg/b-king.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-queen {
    background: url("/svg/w-queen.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-queen {
    background: url("/svg/b-queen.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-knight {
    background: url("/svg/w-knight.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-knight {
    background: url("/svg/b-knight.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-pawn {
    background: url("/svg/w-pawn.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-pawn {
    background: url("/svg/b-pawn.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-rook {
    background: url("/svg/w-rook.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-rook {
    background: url("/svg/b-rook.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  body {
    color: white;
    -webkit-text-stroke: 0.1333333333px black;
    font-weight: bold;
    text-transform: uppercase;
  }

  .board {
    height: 300px;
    width: 300px;
    border: solid black;
  }

  .area {
    width: 266.6666666667px;
    height: 266.6666666667px;
    float: left;
    border: solid black;
  }

  .top {
    height: 15.3333333333px;
    top: 0;
  }

  .bottom {
    width: 286.6666666667px;
    height: 14.6666666667px;
    bottom: 0;
    clear: both;
  }

  .top,
.bottom {
    margin-left: 13.3333333333px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }
  .top > div,
.bottom > div {
    width: 33.3333333333px;
    height: 15.3333333333px;
    font-size: 0.6666666667rem;
    text-align: center;
    float: left;
  }

  .top > div,
.right > div {
    transform: rotate(180deg);
  }

  .left {
    left: 0px;
    padding-top: 13.3333333333px;
  }

  .right {
    right: 0px;
    margin-top: -8.6666666667px;
  }

  .left,
.right {
    padding-bottom: 3.3333333333px;
    font-size: 0.6666666667rem;
    height: 253.3333333333px;
    width: 12px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }
  .left > div,
.right > div {
    height: 33.3333333333px;
    text-align: center;
  }

  .row {
    height: 33.3333333333px;
    width: 266.6666666667px;
  }
  .row > div {
    width: 33.3333333333px;
    height: 33.3333333333px;
    float: left;
  }

  .row:nth-child(odd) > div:nth-child(odd),
.row:nth-child(even) > div:nth-child(even) {
    background-color: wheat;
  }

  .row:nth-child(odd) > div:nth-child(even),
.row:nth-child(even) > div:nth-child(odd) {
    background-color: gray;
  }

  .board {
    background-color: gray;
  }
}
@media (min-width: 900px) {
  .w-bishop {
    background: url("/svg/w-bishop.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-bishop {
    background: url("/svg/b-bishop.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-king {
    background: url("/svg/w-king.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-king {
    background: url("/svg/b-king.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-queen {
    background: url("/svg/w-queen.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-queen {
    background: url("/svg/b-queen.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-knight {
    background: url("/svg/w-knight.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-knight {
    background: url("/svg/b-knight.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-pawn {
    background: url("/svg/w-pawn.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-pawn {
    background: url("/svg/b-pawn.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-rook {
    background: url("/svg/w-rook.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-rook {
    background: url("/svg/b-rook.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  body {
    color: white;
    -webkit-text-stroke: 0.2px black;
    font-weight: bold;
    text-transform: uppercase;
  }

  .board {
    height: 450px;
    width: 450px;
    border: solid black;
  }

  .area {
    width: 400px;
    height: 400px;
    float: left;
    border: solid black;
  }

  .top {
    height: 23px;
    top: 0;
  }

  .bottom {
    width: 430px;
    height: 22px;
    bottom: 0;
    clear: both;
  }

  .top,
.bottom {
    margin-left: 20px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }
  .top > div,
.bottom > div {
    width: 50px;
    height: 23px;
    font-size: 1rem;
    text-align: center;
    float: left;
  }

  .top > div,
.right > div {
    transform: rotate(180deg);
  }

  .left {
    left: 0px;
    padding-top: 20px;
  }

  .right {
    right: 0px;
    margin-top: -13px;
  }

  .left,
.right {
    padding-bottom: 5px;
    font-size: 1rem;
    height: 380px;
    width: 18px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
  }
  .left > div,
.right > div {
    height: 50px;
    text-align: center;
  }

  .row {
    height: 50px;
    width: 400px;
  }
  .row > div {
    width: 50px;
    height: 50px;
    float: left;
  }

  .row:nth-child(odd) > div:nth-child(odd),
.row:nth-child(even) > div:nth-child(even) {
    background-image: url("/images/light-wood.jpg");
  }

  .row:nth-child(odd) > div:nth-child(even),
.row:nth-child(even) > div:nth-child(odd) {
    background-image: url("/images/dark-wood.jpeg");
  }

  .board {
    background-image: url("/images/dark-texture.jpg");
  }
}/*# sourceMappingURL=main.css.map */