* {
  margin: 0;
  padding: 0;
}

@media (min-width: 280px) {
  .w-bishop {
    background: url("/svg/w-bishop.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-bishop {
    background: url("/svg/b-bishop.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-king {
    background: url("/svg/w-king.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-king {
    background: url("/svg/b-king.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-queen {
    background: url("/svg/w-queen.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-queen {
    background: url("/svg/b-queen.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-knight {
    background: url("/svg/w-knight.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-knight {
    background: url("/svg/b-knight.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-pawn {
    background: url("/svg/w-pawn.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-pawn {
    background: url("/svg/b-pawn.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  .w-rook {
    background: url("/svg/w-rook.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
  }

  .b-rook {
    background: url("/svg/b-rook.svg");
    background-size: cover;
    height: 25px;
    width: 25px;
    transform: rotate(180deg);
  }

  body {
    -webkit-text-stroke: 0.1px black;
  }

  .board {
    height: 225px;
    width: 225px;
  }

  .area {
    width: 200px;
    height: 200px;
  }

  .top {
    height: 11.5px;
  }

  .bottom {
    width: 215px;
    height: 11px;
  }

  .top,
.bottom {
    margin-left: 10px;
  }
  .top > div,
.bottom > div {
    width: 25px;
    height: 11.5px;
    font-size: 0.5rem;
  }

  .left {
    padding-top: 10px;
  }

  .right {
    margin-top: -6.5px;
  }

  .left,
.right {
    padding-bottom: 2.5px;
    font-size: 0.5rem;
    height: 190px;
    width: 9px;
  }
  .left > div,
.right > div {
    height: 25px;
  }

  .row {
    width: 200px;
  }
  .row, .row div {
    height: 25px;
  }
  .row > div {
    width: 25px;
  }

  .row:nth-child(odd) > div:nth-child(odd),
.row:nth-child(even) > div:nth-child(even) {
    background-color: white;
  }

  .row:nth-child(odd) > div:nth-child(even),
.row:nth-child(even) > div:nth-child(odd) {
    background-color: black;
  }

  .board {
    background-color: black;
  }
}
@media (min-width: 578px) {
  .w-bishop {
    background: url("/svg/w-bishop.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-bishop {
    background: url("/svg/b-bishop.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-king {
    background: url("/svg/w-king.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-king {
    background: url("/svg/b-king.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-queen {
    background: url("/svg/w-queen.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-queen {
    background: url("/svg/b-queen.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-knight {
    background: url("/svg/w-knight.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-knight {
    background: url("/svg/b-knight.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-pawn {
    background: url("/svg/w-pawn.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-pawn {
    background: url("/svg/b-pawn.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  .w-rook {
    background: url("/svg/w-rook.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
  }

  .b-rook {
    background: url("/svg/b-rook.svg");
    background-size: cover;
    height: 33.3333333333px;
    width: 33.3333333333px;
    transform: rotate(180deg);
  }

  body {
    -webkit-text-stroke: 0.1333333333px black;
  }

  .board {
    height: 300px;
    width: 300px;
  }

  .area {
    width: 266.6666666667px;
    height: 266.6666666667px;
  }

  .top {
    height: 15.3333333333px;
  }

  .bottom {
    width: 286.6666666667px;
    height: 14.6666666667px;
  }

  .top,
.bottom {
    margin-left: 13.3333333333px;
  }
  .top > div,
.bottom > div {
    width: 33.3333333333px;
    height: 15.3333333333px;
    font-size: 0.6666666667rem;
  }

  .left {
    padding-top: 13.3333333333px;
  }

  .right {
    margin-top: -8.6666666667px;
  }

  .left,
.right {
    padding-bottom: 3.3333333333px;
    font-size: 0.6666666667rem;
    height: 253.3333333333px;
    width: 12px;
  }
  .left > div,
.right > div {
    height: 33.3333333333px;
  }

  .row {
    width: 266.6666666667px;
  }
  .row, .row div {
    height: 33.3333333333px;
  }
  .row > div {
    width: 33.3333333333px;
  }

  .row:nth-child(odd) > div:nth-child(odd),
.row:nth-child(even) > div:nth-child(even) {
    background-color: wheat;
  }

  .row:nth-child(odd) > div:nth-child(even),
.row:nth-child(even) > div:nth-child(odd) {
    background-color: gray;
  }

  .board {
    background-color: gray;
  }
}
@media (min-width: 900px) {
  .w-bishop {
    background: url("/svg/w-bishop.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-bishop {
    background: url("/svg/b-bishop.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-king {
    background: url("/svg/w-king.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-king {
    background: url("/svg/b-king.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-queen {
    background: url("/svg/w-queen.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-queen {
    background: url("/svg/b-queen.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-knight {
    background: url("/svg/w-knight.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-knight {
    background: url("/svg/b-knight.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-pawn {
    background: url("/svg/w-pawn.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-pawn {
    background: url("/svg/b-pawn.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  .w-rook {
    background: url("/svg/w-rook.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
  }

  .b-rook {
    background: url("/svg/b-rook.svg");
    background-size: cover;
    height: 50px;
    width: 50px;
    transform: rotate(180deg);
  }

  body {
    -webkit-text-stroke: 0.2px black;
  }

  .board {
    height: 450px;
    width: 450px;
  }

  .area {
    width: 400px;
    height: 400px;
  }

  .top {
    height: 23px;
  }

  .bottom {
    width: 430px;
    height: 22px;
  }

  .top,
.bottom {
    margin-left: 20px;
  }
  .top > div,
.bottom > div {
    width: 50px;
    height: 23px;
    font-size: 1rem;
  }

  .left {
    padding-top: 20px;
  }

  .right {
    margin-top: -13px;
  }

  .left,
.right {
    padding-bottom: 5px;
    font-size: 1rem;
    height: 380px;
    width: 18px;
  }
  .left > div,
.right > div {
    height: 50px;
  }

  .row {
    width: 400px;
  }
  .row, .row div {
    height: 50px;
  }
  .row > div {
    width: 50px;
  }

  .row:nth-child(odd) > div:nth-child(odd),
.row:nth-child(even) > div:nth-child(even) {
    background-image: url("/images/light-wood.jpg");
  }

  .row:nth-child(odd) > div:nth-child(even),
.row:nth-child(even) > div:nth-child(odd) {
    background-image: url("/images/dark-wood.jpeg");
  }

  .board {
    background-image: url("/images/dark-texture.jpg");
  }
}
.top > div,
.right > div {
  transform: rotate(180deg);
}

body {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.board {
  border: solid black;
}

.area {
  float: left;
  border: solid black;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
  clear: both;
}

.top,
.bottom {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}
.top > div,
.bottom > div {
  text-align: center;
  float: left;
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.left,
.right {
  float: left;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}
.left > div,
.right > div {
  text-align: center;
}

.row > div {
  float: left;
}/*# sourceMappingURL=main.css.map */