$cellSize: 50px;
$lightTexture: url("/images/light-texture.jpg");
$darkTexture: url("/images/dark-texture.jpg");
$lightWood: url("/images/light-wood.jpg");
$darkWood: url("/images/dark-wood.jpeg");

$white: "w";
$black: "b";

$figures: (
  "bishop": "bishop.svg",
  "king": "king.svg",
  "queen": "queen.svg",
  "knight": "knight.svg",
  "pawn": "pawn.svg",
  "rook": "rook.svg",
);

$div_280: 2;
$div_screen: 1;

* {
  margin: 0;
  padding: 0;
}

@function get-figure-url($figure, $color) {
  @return url("/svg/" + $color + "-" + $figure);
}

@mixin figure-style ($div) {
  background-size: cover;
  height: $cellSize / $div;
  width: $cellSize / $div;
}

@mixin board($div) {
  @each $figure, $picture in $figures {
    .w-#{$figure} {
      background: get-figure-url($picture, $white);
      @include figure-style($div);
    }
    .b-#{$figure} {
      background: get-figure-url($picture, $black);
      @include figure-style($div);
      transform: rotate(180deg);
    }
  }

  body {
    -webkit-text-stroke: 0.2px / $div black;
  }

  .board {
    height: $cellSize * 9 / $div;
    width: $cellSize * 9 / $div;
  }

  .area {
    width: $cellSize * 8 / $div;
    height: $cellSize * 8 / $div;
  }

  .top {
    height: 23px / $div;
  }

  .bottom {
    width: 430px / $div;
    height: 22px / $div;
  }

  .top,
  .bottom {
    margin-left: 20px / $div;

    & > div {
      width: 50px / $div;
      height: 23px / $div;
      font-size: 1rem / $div;
    }
  }

  .left {
    padding-top: 20px / $div;
  }

  .right {
    margin-top: -13px / $div;
  }

  .left,
  .right {
    padding-bottom: 5px / $div;
    font-size: 1rem / $div;
    height: 380px / $div;
    width: 18px / $div;

    & > div {
      height: 50px / $div;
    }
  }

  .row {
    width: $cellSize * 8 / $div;

    &, div {
      height: $cellSize / $div;
    }
    
    & > div {
      width: $cellSize / $div;
    }
  }
}

@mixin cells($black, $white) {
  .row:nth-child(odd) > div:nth-child(odd),
  .row:nth-child(even) > div:nth-child(even) {
    background-color: $white;
  }

  .row:nth-child(odd) > div:nth-child(even),
  .row:nth-child(even) > div:nth-child(odd),
  .board {
    background-color: $black;
  }
}

@media (min-width: 280px) {
  @include board($div_280);
  @include cells(black, white);
}

@media (min-width: 578px) {
  @include board(1.5);
  @include cells(gray, wheat);
}

@media (min-width: 900px) {
  @include board($div_screen);
  .row:nth-child(odd) > div:nth-child(odd),
  .row:nth-child(even) > div:nth-child(even) {
    background-image: $lightWood;
  }

  .row:nth-child(odd) > div:nth-child(even),
  .row:nth-child(even) > div:nth-child(odd) {
    background-image: $darkWood;
  }

  .board {
    background-image: $darkTexture;
  }
}

.top > div,
.right > div {
  transform: rotate(180deg);
}

body {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.board,
.area {
  border: solid black;
}

.area {
  float: left;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
  clear: both;
}

.top,
.bottom {
  position: sticky;
  z-index: 100;

  & > div {
    text-align: center;
    float: left;
  }
}

.left {
  left: 0px;
}

.right {
  right: 0px;
}

.left,
.right {
  float: left;
  position: sticky;
  z-index: 100;

  & > div {
    text-align: center;
  }
}

.row > div {
    float: left;
}